body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

#calculator {
    width: 500px;
    margin: 50px auto;
    padding: 30px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 18px;
}

input[type="button"] {
    width: 21.5%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
}

input[type="button"]:hover {
    background-color: #4CAF50;
    color: white;
}

#result {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}